.loader {
    margin-left: 4px;
    width: 20px;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.loader circle {
    fill: none;
    @apply stroke-run;
    stroke-width: 4;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

.hover-tip {
    position: relative;
}

.hover-tip::before {
    content: attr(data-tip);
    position: absolute;
    z-index: 9999;
    bottom: -100%;
    left: 0;
    background: rgba(150, 150, 150, 0.4);
    color: rgba(200, 200, 200, 0.8);
    @apply px-2 py-1 text-xs rounded;

    opacity: 0;
    transition: opacity 0.3s;
}

.hover-tip:hover::before {
    opacity: 1;
}